header {
	width: 100%;
	background-color: #B8DBFF;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-top: 15px;
	margin-left: -5px;
	margin-top: -10px;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	margin-bottom: -15px;
}

h2{
	font-family: 'Ubuntu Condensed', sans-serif
}

h3 {
	font-family: 'Varela Round', sans-serif;
	text-decoration: underline;
}

h4{
	font-family: serif;
}

nav {
	position: absolute;
	left: -15px;
  float: left;
  width: 170px;
  background-color: #9AAAB8;
  height: 2400px;
  font-family: 'Varela Round', sans-serif;

}

a:link {
	color: #003399;
}

a:visited {
	color: #003399;
}

ul {
	  list-style-type: none;
	  position: relative;
	  left: -10px;
}


main {
	float: right;
  position: absolute;
  left: 180px;
  min-width: 700px;
  width: 85%;

}

/*footer {
	clear: both;
  position: relative;
  height: 50px;
  margin-top: -50px;
}*/