main {
  margin-left: 5%;
  margin-right: 5%;
  font-family: serif;
}

h1 {
  margin-top: 5%;
  font-family: serif;
}

h2 {
  font-family: serif;
  position: relative;
  top: -10px;
}

h4{
  font-family: serif;
  position: relative;
  top: -15px;
}

#horizontalRule {
  padding: 5px;
  position: relative;
  top: -15px;
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
  background-color: black;
}

section {
  font-family: serif;
  position: relative;
  top: -15px;
}