// RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// COLORS
$pale-blue: #BFEDF4;
$lavender: #A499FD;
$purple: #BA86E7;
$pink: lighten(#EE84D6, 10%);

$link: darken(blue, 10%);
$hover-state: blue;
$background: $pink;

// FONTS
$title: 'Monofett', sans-serif;
$body: 'VT323', sans-serif ;

// STYLING

body {
	font-family: $body;
	font-size: 24px;
	background-color: $background;
	// width: 90%;
	// margin-left: auto;
	// margin-right: auto;
}

nav {
	background-color: black;
	color: $background;
}

h1 {
	font-size: 80px;
	letter-spacing: 8px;
	padding-left: 10px;
}

.main-content {
	padding: 10px 10px 0px;
}

a {
	color: $link;

	&:hover {
		color: $hover-state;
	}
}

h1 {
	font-family: $title;
}

.social-icons {
	list-style-type: none;
	padding-left: 0;

	li {
		display: inline;
		font-size: 1em;
	}

}
